@import url('https://fonts.googleapis.com/css?family=Nunito');

body
{
    height: 200%;
    font-family:nunito;
}
header
{
    position: sticky;
    top: 0;
}
.navitems
{   
    display: flex;
    gap:2%;
    list-style: none;
    align-items: center;
    background-color: rgb(230, 233, 248);
    padding: 1%;
    width: 98%;
    border-radius: 10px;
    z-index: 1000;
}
.navitems li:first-child
{
   margin-right: auto;
}
a{
    text-decoration: none;
    font-family: nunito;
    color: black;
}

