@import url("https://fonts.googleapis.com/css?family=Nunito");

body
{
    font-family: nunito;
}

.navitems
{
    display: flex;
    list-style: none;

}

header
{
    background-color: rgb(230, 233, 248);
    width: 100%;
    border-radius: 10px;
}
img
{
    width: 70px;
}
h1
{
    font-family: nunito;
    font-size: 70px;
    color: rgb(0, 139, 65);
   
}
div
{
    height:100px;
    width: 100px;
    align-content:center ;
    justify-items: center;
    text-align: center;
   
}

.head
{
    font-size: 30px;
    font-family: nunito;
    color: rgb(70, 41, 6);
}


.submenu
{
    opacity: 0;
    visibility: hidden;
    list-style: none;
    position: absolute;
    top:100%;
    left:0;
    align-content:center ;
    justify-items: center;
    text-align: center;
    padding: 0; 
    transition: opacity 0.5s ease-in-out, visibility 2s ease-in-out;
    
}
.submenu div
{
    background-color: rgb(169, 169, 216);
    
}
.submenu div:hover
{
    background-color: rgb(155, 218, 252);
}
.dropdown
{
    position: relative;
    margin: none;
}
.dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
}
.dropdown:hover {
    display: block;
    background-color: rgb(169, 169, 216);

}

#Contacts:target,
#Blogs:target,
#SaaS:target,
#Cloud:target
{
display: block;
}

section
{
    display: none;
}
a{
    text-decoration: none;
}
