@import url('https://fonts.googleapis.com/css?family=Nunito');

body
{
  justify-items: center;
  align-content: center;
}
.caurosal
{
    width: 500px;
    overflow: hidden;
   position: relative;
}
.image
{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.slides{
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}
.card
{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

#tab1:checked ~ .slides{
    transform: translate(0%);
}
#tab2:checked ~ .slides{
    transform: translate(-33.35%);
}
#tab3:checked ~ .slides{
    transform: translate(-66.7%);
}

input[type=radio]:checked + label{
    background-color: rgb(252, 252, 252);
}
input
{
    display: none;
}

.slide1
{
    background-color: rgb(149, 152, 152);
   padding: 2%;
   position: absolute;
   margin-left:35%;
   margin-top: 80%;
   border-radius: 20px;
   z-index: 1;
}
.slide2
{
    background-color: rgb(149, 152, 152);   padding: 2%;
   position: absolute;
   margin-left:45%;
   border-radius: 20px;
   margin-top: 80%;
   z-index: 1;
}
.slide3
{
   background-color: rgb(149, 152, 152);
   padding: 2%;
   position: absolute;
   margin-left:55%;
   border-radius: 20px;
   margin-top: 80%;
   z-index: 1;
}


